.webcropper {
    display: block;
    position: relative;
    max-width: 50vw;
    max-height: 80vh;
    min-height: 100px;
    margin: 10px;
    overflow: hidden;
    background-color: #DDDDDD;
    border-radius: 5px;
}
.webcropper input {
    display: none;
}
.webcropper img {
    width: 100%;
}
.webcropper-btn {
    position: absolute;
    top: 5px;
    left: 5px;
}